.google-rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
  top: 100px;
}

.google-rank-heading {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 100px;
}

.google-rank-heading h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: hsl(180, 100%, 33%);
}

.google-rank-heading p {
  line-height: 25px;
  color: hsla(180, 100%, 33%, 0.75);
}

.google-rank-steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  gap: 2.5rem;
  margin-bottom: 50px;
}

.google-rank-step {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.google-rank-step h1 {
  color: hsl(180, 100%, 33%);
  background-color: transparent;
  position: absolute;
  top: -60px;
  font-size: 80px;
}

.google-rank-step h4 {
  color: hsl(186, 100%, 28%);
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.google-rank-step p {
  color: hsl(120, 0%, 57%);
  background-color: inherit;
  text-align: center;
  line-height: 25px;
}

.google-rank-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-rank-button button {
  border: none;
  padding: 1rem;
  width: 300px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 15px;
  background-color: hsl(180, 100%, 33%);
  transition: 0.25s ease-in;
  border: 1px solid hsl(180, 100%, 33%);
}

.google-rank-button button:hover {
  border: 1px solid hsl(180, 100%, 33%);
  background: none;
  color: hsl(180, 100%, 33%);
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .google-rank-steps-container {
    width: 900px;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .google-rank-heading {
    width: 400px;
  }

  .google-rank-steps-container {
    flex-wrap: wrap;
    width: 100%;
  }

  .google-rank-step {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .google-rank-heading {
    width: 300px;
  }

  .google-rank-heading h2 {
    font-size: 1.25rem;
  }

  .google-rank-heading p {
    font-size: 1rem;
  }
}
