.about-us {
    margin: 100px 400px;
    display: flex;
    justify-content: space-evenly;
}

.about-us-img {
    margin-right: 100px;
    width: 500px;
    overflow: hidden;
}

.about-us-img img {
    width: 100%;
    border-radius: 2px;
}

.about-us-info {
    border-top: 1px solid hsl(196, 77%, 48%);
    border-bottom: 1px solid hsl(196, 77%, 48%);
    background-color: white;
    border-radius: 3px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-us-info p {
    padding: 0 10px;
    font-size: 20px;
    color: hsl(120,0%,57%);
    background-color: inherit;
    line-height: 30px;
}