.jumbotron {
  width: 100%;
  min-height: 80vh;
  background-image: url(../../pictures/web-design-jumbotron.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
