.jumbotron {
  width: 100%;
  min-height: 80vh;
  background-image: url(../../pictures/web-design-jumbotron.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 100px;
}

.jumbotron-heading {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  position: absolute;
  top: 25%;
  left: 30%;
  text-shadow: 1px 1px 1px black;
}

.jumbotron-heading h1 {
  font-size: 75px;
  color: hsl(202, 76%, 44%);
}

.jumbotron-heading h2 {
  font-size: 50px;
  color: hsl(202, 76%, 30%);
}

@media screen and (max-width: 768px) {
  .jumbotron-heading {
    top: 15%;
    left: 20%;
  }

  .jumbotron-heading h1 {
    font-size: 55px;
  }

  .jumbotron-heading h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron-heading {
    top: 15%;
    left: 10%;
  }
}
